<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
<div th:replace="fragments.html :: navbar"></div>



<ul class="list-group list-group-horizontal" style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
    <li class="list-group-item" style="width:5%">Num</li>
    <li class="list-group-item" style="width:60%">title</li>
    <li class="list-group-item" style="width:15%">create</li>
    <li class="list-group-item" style="width:10%">Author</li>
</ul>
<ul class="list-group list-group-horizontal" style="margin-left: 10px; margin-right: 10px;" th:each="post : ${posts}">
    <li class="list-group-item" style="width:5%" ><span th:text="*{post.id}"></span></li>
    <li class="list-group-item" style="width:60%"><span th:text="*{post.title}"></span></li>
    <li class="list-group-item" style="width:15%"><span th:text="*{post.create_at}"></span></li>
    <li class="list-group-item" style="width:10%"><span th:text="*{post.account.nickname}"></span></li>
</ul>
<!--<ul class="list-group list-group-horizontal" style="margin-left: 10px; margin-right: 10px;"  th:each="num : ${#numbers.sequence(1,5)}">-->
<!--    <li class="list-group-item" style="width:5%">{{id}}</li>-->
<!--    <li class="list-group-item" style="width:60%">{{title}}</li>-->
<!--    <li class="list-group-item" style="width:15%">{{create_at}}</li>-->
<!--    <li class="list-group-item" style="width:10%">{{account}}</li>-->
<!--</ul>-->




<div th:if="${!boards.isEmpty()}">
    <nav
            th:with="
                pageNumber = ${boards.pageable.pageNumber},
                pageSize = ${boards.pageable.pageSize},
                totalPages = ${boards.totalPages},
                startPage = ${T(Math).floor(pageNumber / pageSize) * pageSize + 1},
                tempEndPage = ${startPage + pageSize - 1},
                endPage = (${tempEndPage > totalPages ? totalPages : tempEndPage})"
            aria-label="Page navigation"
    >
        <ul class="pagination ">

            <li th:classappend="${pageNumber + 1 <= pageSize + 1} ? 'disabled'" class="page-item">
                <a class="page-link" th:href="@{/board(page=1)}">
                    <span>&laquo;</span>
                    <span class="sr-only">First</span>
                </a>
            </li>

            <li th:classappend="${boards.first} ? 'disabled'" class="page-item">
                <a class="page-link" th:href="${boards.first} ? '#' : @{/board(page=${#numbers.formatDecimal(startPage - pageSize, 0, -1)})}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>

            <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">
                <a th:text="${page}" class="page-link" th:href="@{/board(page=${page})}"></a>
            </li>

            <li th:classappend="${boards.last} ? 'disabled'" class="page-item">
                <a class="page-link" th:href="${boards.last} ? '#' : @{/board(page=${#numbers.formatDecimal(startPage + pageSize, 0, -1)})}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>

            <li th:classappend=" ${T(Math).floor(totalPages/10)*10 <= startPage} ? 'disabled'" class="page-item">
                <a class="page-link" th:href="@{/board(page=${totalPages})}">
                    <span>&raquo;</span>
                    <span class="sr-only">First</span>
                </a>
            </li>

        </ul>
    </nav>
</div>


</body>
</html>