<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
<div th:replace="fragments.html :: navbar"></div>

<ul class="nav nav-tabs" id="myTab" role="tablist" style="padding: 10px">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">배달 부서</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">고객 응대 부서</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">품질 부서</button>
    </li>
</ul>

<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" style="padding: 10px">
    <iframe  src="http://52.44.127.67:5601/goto/758dba088f24fbff16b8f7592092609f" th:if="${department == 'quality'}"
            height="800" width="100%"> </iframe>
    <iframe  src="http://52.44.127.67:5601/goto/758dba088f24fbff16b8f7592092609f" th:if="${department == 'customerService'}"
             height="800" width="100%"> </iframe>
    <iframe  src="http://52.44.127.67:5601/goto/758dba088f24fbff16b8f7592092609f" th:if="${department == 'delivery'}"
             height="800" width="100%"> </iframe>


</div>




</body>


</html>