<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
<div th:replace="fragments.html :: navbar"></div>

<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">로그인</h2>
                            <body class="text-center">
                            <form class="form-signin" th:action="@{/login}" method="post"> <!-- 요청 보내기-->
                                 <div th:text="*{LoginFailMessage}">message here</div>
                                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

                                <label for="username" class="sr-only">username</label>
                                <input type="text" id="username" name="username" class="form-control" placeholder="username" required autofocus>

                                <label for="password" class="sr-only">password</label>
                                <input type="password" id="password" name="password" class="form-control" placeholder="password" required>

                                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

                                <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
                            </form>
                            </body>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>